---
---

h2 a {
  padding-top: 15px;
}

span.emphasis {
  font-weight: bolder;
}
.fade {
  background-image: linear-gradient(transparent   3%, 
                                    currentColor 20%, 
                                    currentColor 75%, 
                                    transparent  98%);
  -webkit-background-clip: text;
  background-clip: text;
  background-attachment: fixed;
}
.fade > * {
  color: transparent;
}

.sticky-container{
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: 20px;
  top: 130px;
  width: 200px;
  z-index: 1100;
}
.sticky li{
  text-decoration: underline;
  font-weight: bolder;
  list-style-type:none;
  background-color:#fff;
  color:#efefef;
  line-height: normal;
  padding:0 0 10px 0;
  margin:0px 0px 1px 0px;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
  cursor:pointer;
  a {
    color: black;
  }
}
.sticky li:hover{
  margin-left:-15px;
  a {
    color: teal;
  }
}

@media (max-width: 1100px) {
  div#main {
    margin-left: 70px;
  }
}
@media (max-width: 1000px) {
  .sticky-container{
    right: 10px;
    width: 170px;
  }
}
@media (max-width: 970px) {
  div#main {
    margin-left: 30px;
  }
}
@media (max-width: 920px) {
  .sticky-container{
    display: none;
  }
  div#main {
    margin-left: auto;
    margin-right: auto;
  }
}