---
---

h2 a {
  padding-top: 15px;
}

span.emphasis {
  font-weight: bolder;
}
.sticky-container{
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: 20px;
  top: 130px;
  width: 215px;
  z-index: 1100;
}
.sticky li{
  text-decoration: underline;
  font-weight: bolder;
  list-style-type:none;
  background-color:#fff;
  color:#efefef;
  line-height: normal;
  padding:0 0 10px 0;
  margin:0px 0px 1px 0px;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
  cursor:pointer;
  a {
    color: black;
  }
}
.sticky li:hover{
  margin-left:-15px;
  a {
    color: teal;
  }
}

@media (max-width: 1100px) {
  div#main {
    margin-left: 70px;
  }
}
@media (max-width: 1030px) {
  .sticky-container{
    right: 10px;
    width: 170px;
  }
}
@media (max-width: 970px) {
  div#main {
    margin-left: 30px;
  }
}
@media (max-width: 920px) {
  .sticky-container{
    display: none;
  }
  div#main {
    margin-left: auto;
    margin-right: auto;
  }
}

// Tooltips
span.bt_tooltip::before, span.ct_tooltip::before {
  content: attr(data-tip) ;     
  font-size: 12px;
  position:absolute;
  z-index: 999;
  bottom:9999px;
  left: 55%;
  top: -70%;
  background:#404040;
  color:#e0e0e0;
  padding:10px;
  border-radius: 5px;
  line-height: 24px;
  height: fit-content;
  opacity: 0;  
  transition:opacity 0.4s ease-out; 
}
span.bt_tooltip:hover::before, span.ct_tooltip:hover::before {
  opacity: 1;
  bottom:-35px;
}
span.bt_tooltip, span.ct_tooltip {
  border-bottom: 2px dotted #404040;
}
span.ct_tooltip::before {
  left: 43%; 
  top: -10%; 
  max-width: 45%;
}

#chartoptions li a {
  margin: 0 5px;
}
#chartoptions li#types ul {
  height:300px;
  overflow-y:auto;
  // TODO - show little arrow at bottom, just screaming 'scroll me'
}
#chartoptions li ul li a {
  color: black;
}